

/*.//
.inconsolata-<uniquifier> {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/


:root{
    --white-text: rgb(243, 243, 243);
    --dark-text: rgb(86, 84, 104);
    --score-text: rgb(42, 69, 194);
    --outline-color:  rgb(96, 110, 133);
}
a{
    text-decoration: none;
    color:#131537
}

/*Layout*/
body{
    font-family:"Inconsolata", monospace;
}
.container-fluid{
    background:radial-gradient(134% 134% at 50% 0%, #1f3757 0%, #131537 100%);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
    z-index: -2;
}
.scoreboard{
    border:3px solid var(--outline-color);
    border-radius: 10px;
    width: 75%;
    padding-top:1em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin-left: 2em;
}
.score{
    background-color: var(--white-text);
    border-radius: 8px;
    margin-right: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.score h1{
    color:var(--dark-text);
    font-size: 3.5em;
    font-weight: 800;
    font-weight: 900;
    margin-top: 0;
}
.score p{
    color: var(--score-text);
    font-size: 1em;
    font-weight: 700;
    letter-spacing: .15em;
    margin-top: 1em;
    margin-bottom: 0;

}
/* Buttons */
.hands{
    display: grid;
    position: relative;
    grid-template-columns: (repeat(2, 1fr));
    grid-gap: 6em;
    grid-column-gap: 8em;
    grid-template-areas:
    "paper scissors"
    "rock rock";
    padding-top: 6rem;
    justify-content:space-evenly;
}
.hands::before,
.hands::after{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    background-image: url("/rock-paper-scissors/src/images/bg-triangle.svg");
    top:35%;
    left: 17%;
    background-repeat: no-repeat;
    z-index: -2;
}

.choice{
    position: relative;
    width: 10rem;
    height: 10rem;
    background: var(--white-text);
    align-content: center;
    place-items: center;
    border-radius: 50%;
    box-shadow: inset 2px 8px 3px rgba(18, 18, 18, 0.4);
    cursor: pointer;
    display: grid;
}
.choice::before, .choice::after{
    content:"";
    position: absolute;
    left:-10%;
    top:-10%;
    width: 120%;
    height:120%;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}
.choice::after{
    opacity:0;
    transition:opacity 0.4s ease-in-out;
}
section > button:hover, section > button:focus, section > .choice-btn:hover{
    z-index: -2;
    border-radius: 50%;
    transition:opacity 0.4s ease-in-out;
    opacity: 1;
    box-shadow: 0 0 0 2rem #223351;
}
.choice img{
    transform:scale(1.5);
}

.choice.paper::before{
    background: linear-gradient(to bottom, rgb(86, 113, 245), rgb(51, 68, 156));
    z-index: -1;
    box-shadow: 1px 10px 3px  rgb(7, 14, 48);
}
.choice.scissors::before{
    background: linear-gradient(to bottom, rgb(247, 195, 92), rgb(243, 174, 35));;
    z-index: -1;
    box-shadow: 1px 10px 3px  rgb(43, 31, 7);
}
.choice.rock::before{
    background:linear-gradient(to bottom, rgb(214, 67, 94), rgb(220, 46, 78));
    z-index: -1;
    box-shadow:1px 10px 3px rgb(46, 9, 16);
}

.choice-btn{
    border: none;
    background:none;
    outline: none;
}



.choice-btn[data-choice="paper"]{
    grid-area: paper;
}
.choice-btn[data-choice="scissors"]{
    grid-area: scissors;
}
.choice-btn[data-choice="rock"]{
    grid-area: rock;
    justify-self: center;
}
/*Results*/
.results{
    max-width: 960px;
    margin: 0 auto;
    color: var(--white-text); 
    display: grid;  
    grid-template-columns:  repeat(2, 1fr);
    place-items: center;
    grid-template-areas: 
       "you-title ai-title"
       "you-picked" "ai-picked" ;

}
.results-heading:first-of-type{
    grid-area: you-title;
}
.results-heading:last-of-type{
    grid-area: ai-title;
}
.result-picked:first-of-type{
    grid-area: you-picked;
}
.result-picked:last-of-type{
    grid-area: ai-picked;
}
.win-result{
    grid-area: winner-result;
    display: grid;
    place-items: center;
}
.text-results{
    font-size: 32px;
}
.play-again{
    background: var(--white-text);
    outline: none;
    border-radius: 10px;
    color: var(--dark-text);
    font-family: inherit;
}

.results-heading{
    font-size: 28px;
    letter-spacing: 1px;
    padding: 4rem 0 8rem;
}
.result-picked{
    background:#16213d;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    z-index: 0;
    transform: scale(1.5);
}

/*rules button */


.rules-btn{
    background: none;
    color: var(--white-text);
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--outline-color);
    font-family: "Inconsolata", monospace;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .2em;
    pointer-events:inherit;
}
.rules-btn:focus{
    border:3px solid var(--white-text);
}
.rules-btn:hover{
    border:3px solid var(--white-text);
}

/*rules modal */
.modal{
    place-items: center;
    display: grid;
    background: radial-gradient( hsl(214, 47%, 23%) to hsl(237, 49%, 15%));
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}
.modal-title{
    font-family:"Inconsolata", monospace;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1px;
    color: var(--dark-text);
}
.modal-header{
    border:none;
}
.modal-shown{
    opacity:1;
    cursor: pointer;
    pointer-events:inherit;
}
/*utilities*/
.preload * {
    transition: none;
}
.hidden{
    display: none;
}

/* footer*/
.card-body{
    background:rgba(245, 199, 108, 0.986) ;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: -6px 10px 9px 5px rgba(19, 18, 18, 0.473);
    font-family:"Inconsolata", monospace;
}
