

/*.//
.inconsolata-<uniquifier> {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/


:root{
    --white-text: rgb(243, 243, 243);
    --dark-text: rgb(86, 84, 104);
    --score-text: rgb(42, 69, 194);
    --outline-color:  rgb(96, 110, 133);
}
a{
    text-decoration: none;
    color:#131537
}

/*Layout*/
body{
    font-family:"Inconsolata", monospace;
}
.container-sm{
    background:radial-gradient(134% 134% at 50% 0%, #1f3757 0%, #131537 100%);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
    z-index: -2;
}
.scoreboard{
    border:3px solid var(--outline-color);
    border-radius: 10px;
    width: 75%;
    padding-top:1em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin-left: 2em;
}
.score{
    background-color: var(--white-text);
    border-radius: 8px;
    margin-right: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.score h1{
    color:var(--dark-text);
    font-size: 3.5em;
    font-weight: 800;
    font-weight: 900;
    margin-top: 0;
}
.score p{
    color: var(--score-text);
    font-size: 1em;
    font-weight: 700;
    letter-spacing: .15em;
    margin-top: 1em;
    margin-bottom: 0;

}
/* Buttons */
.hands{
    display: grid;
    position: relative;
    grid-template-columns: (repeat(2, 1fr));
    grid-gap: 8em;
    grid-column-gap: 12em;
    grid-template-areas:
    "paper scissors"
    "rock rock";
    padding-top: 6rem;
    justify-content:space-evenly;
}
.hands::before,
.hands::after{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    background-image: url("/rock-paper-scissors/src/images/bg-triangle.svg");
    top:35%;
    left: 17%;
    background-repeat: no-repeat;
    z-index: -2;
}
.hands::after{
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.choice{
    position: relative;
    width: 8rem;
    height: 8rem;
    background: var(--white-text);
    align-content: center;
    border-radius: 50%;
    box-shadow: inset 2px 8px 3px rgba(18, 18, 18, 0.4);
}
.choice img{
    transform:scale(1.5);
}
.choice:hover{
    transition: 200ms ease-in-out;
    box-shadow: rgba(141, 142, 145, 0.39);
    z-index: 1;
    transform:scale(1.1);
}
.choice.paper::before{
    content:"";
    position: absolute;
    left:-10%;
    top:-10%;
    width: 120%;
    height:120%;
    border-radius: 50%;
    background:  rgb(86, 113, 245);
    z-index: -1;
    box-shadow: 1px 10px 3px  rgb(7, 14, 48);
}
.choice.scissors::before{
    content:"";
    position: absolute;
    left:-10%;
    top:-10%;
    width: 120%;
    height:120%;
    border-radius: 50%;
    background: rgb(236, 169, 34);
    z-index: -1;
    box-shadow: 1px 10px 3px  rgb(43, 31, 7);
}
.choice.rock::before{
    content:"";
    position: absolute;
    left:-10%;
    top:-10%;
    width: 120%;
    height:120%;
    border-radius: 50%;
    background: rgb(220, 46, 78);
    z-index: -1;
    box-shadow:1px 10px 3px rgb(46, 9, 16);
}
.choice-btn{
    border: none;
    background:none;
    outline: none;
}
.choice-btn:focus .choice::after {
    opacity: 1;
    box-shadow: 0 0 0 2rem #223351;
    z-index: -2;
}
.choice-btn[data-choice="paper"]{
    grid-area: paper;
}
.choice-btn[data-choice="scissors"]{
    grid-area: scissors;
}
.choice-btn[data-choice="rock"]{
    grid-area: rock;
    justify-self: center;
}
/* footer*/
.card-body{
    background:rgb(236, 169, 34, 0.8) ;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: -4px 8px 1px 0.5px rgba(19, 18, 18, 0.473);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
